.shellyTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px; /* Außenradius der Tabelle */
    overflow: hidden; /* Damit der border-radius sichtbar wird */
    opacity: 0.7;
}

.shellyTable th, .shellyTable td {
    border: 1px solid #ccc;
    padding: 1.5px;
    text-align: center; /* Standardmäßig zentriert */
}

.shellyTable th {
    background-color: #396173; /* Hintergrundfarbe für die Kopfzeile */
    color: white; /* Textfarbe für die Kopfzeile */
    font-size: 25px; /* Schriftgröße der Kopfzeile */
}

.shellyTable th:first-child {
    text-align: left; /* Linksbündiger Text in der ersten Spalte der Kopfzeile */
}

.shellyTable tr:nth-child(even) {
    background-color: #88a8b8; /* Hellblauer Hintergrund für gerade Zeilen */
    color:black;
}

.shellyTable tr:nth-child(odd) {
    background-color: white; /* Weißer Hintergrund für ungerade Zeilen */
    color:black;
}

.shellyTable tr:hover {
    background-color: #f1f1f1; /* Hintergrundfarbe bei Hover */
}

.shellyTable td:first-child {
    text-align: left; /* Linksbündiger Text in der ersten Spalte */
    font-weight: bold; /* Fettdruck für die erste Spalte */
    font-size: 20px; /* Schriftgröße für die Datenzeilen */
}

.shellyTable td {
    font-size: 20px; /* Schriftgröße für die Datenzeilen */
}

.shellyTable tr.totalRow td {
    background-color: #396173; /* Hintergrundfarbe für die Gesamt-Zeile */
    color: white; /* Weiße Textfarbe in der Gesamt-Zeile */
    font-weight: bold; /* Fettdruck in der Gesamt-Zeile */
    font-size: 25px; /* Schriftgröße für die Gesamt-Zeile */
}
